{extend name="public/base_layui" /}
{block name="title"}轮播图保存{/block}
{block name="load"}
<!-- css -->
<link rel="stylesheet" href="__COMMON__/lib/eleTree/eleTree/eleTree.css" media="all">
<link rel="stylesheet" href="__COMMON__/lib/eleTree/layui/css/layui.css" media="all">
<style>
    
    .eleTree{
        width: 350px;
        height: 500px;
        border: 1px solid #ccc;
        overflow: hidden;
        display: inline-block;
    }
    .ele5{
        height: auto;
        width: 100%;
        display: none;
        position: absolute;
        top:100%;
        background-color: #fff;
        z-index: 100;
    }
</style>
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}
<div class="layui-fluid">
    <div class="layui-form" lay-filter="form">
        <form action="" method="post" name="example">
            <table class="layui-table" lay-size="lg" lay-skin="line">
                <thead>
                    <tr>
                        <th colspan="2">轮播图添加</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td align="right"><strong>轮播图分类：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input type="text" name="category_title" required="" lay-verify="required" placeholder="请选择分类" readonly="" autocomplete="off" class="layui-input" style="width: 200px;">
                                <input type="hidden" name="category_id">
                                <div class="eleTree ele5" lay-filter="data5"></div>
                            </div>
                            <div class="layui-input-inline">
                                <span style="color: red;">*</span> 轮播图的分类
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td width="150" align="right"><strong>轮播图标题：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="title" placeholder="轮播图名称" style="width: 400px;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>链接：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="url" placeholder="链接">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>排序：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="sort" placeholder="排序">
                            </div>
                            <div class="layui-input-inline">
                                排序：数值越小位置越前，最大65535
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>轮播图：</strong></td>
                        <td>
                            <div class="layui-upload">
                                <button type="button" class="layui-btn" id="upload-img">上传图片</button>
                                <div class="layui-upload-list">
                                    <img class="layui-upload-img" id="upload-preview">
                                    <input type="hidden" name="image">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><strong>状态：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input type="radio" name="status" value="1" title="正常" checked>
                                <input type="radio" name="status" value="0" title="禁止">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"></td>
                        <td>
                            <div class="layui-input-inline">
                                <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
                                <input type="hidden" name="id">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<script>

    // 获取轮播图数据
    let data = ajax_read('/slides');

    // eleTree树形图
    layui.config({
        base: "__COMMON__/lib/eleTree/layui/lay/mymodules/"
    }).use(['jquery', 'table', 'eleTree', 'code', 'form', 'slider'], function () {
        var $ = layui.jquery;
        var eleTree = layui.eleTree;
        var table = layui.table;
        var code = layui.code;
        var form = layui.form;
        var slider = layui.slider;

        // 选中样式状态
        var checkedClass = true;
        var el5;
        // 获取分类数据
        var categoryList = ajax_list('/category');
        categoryList = get_chlidren(categoryList);
        // console.log(categoryList);
        $("input[name='category_title']").on("click", function (e) {
            e.stopPropagation();
            if (!el5) {
                el5 = eleTree.render({
                    elem: '.ele5',
                    data: categoryList,
                    request: {
                        name: "title",
                        key: "id",
                        children: "children",
                    },
                    defaultExpandAll: true, // 是否默认展开所有节点
                    expandOnClickNode: false, // 只有点箭头图标的时候才会展开或者收缩节点
                    highlightCurrent: true // 是否高亮当前选中节点，默认值是 false
                });
            }
            $(".ele5").toggle();
            
            // 选中的分类添加选中样式
            if(checkedClass){
                $('.ele5 div[data-id="'+data.category.id+'"]').find('.eleTree-node-content').addClass('eleTree-node-content-active');
                checkedClass = false;
            }else{
                $('.ele5 div[data-id="'+data.category.id+'"]').find('.eleTree-node-content').removeClass('eleTree-node-content-active');
            }
        })
        eleTree.on("nodeClick(data5)", function (d) {
            // console.log(d.data.currentData);
            $("input[name='category_title']").val(d.data.currentData.title);
            $("input[name='category_id']").val(d.data.currentData.id);
            $(".ele5").hide();
        })
        $(document).on("click", function () {
            $(".ele5").hide();
        })
    });

    layui.use(['form', 'layer', 'upload', 'jquery'], function () {
        $ = layui.jquery;
        var form = layui.form,
            upload = layui.upload,
            layer = layui.layer;

            // 赋值
        form.val("form", data);
        form.val("form", {
            'category_title': data.category.title,
            'category_id': data.category.id,
        });
        // 图片赋值
        $('#upload-preview').attr('src', data.image);
        // 封面
        layui_upload_image(upload);
        // 保存
        layui_ajax_update(form, '/slides');

    });
</script>
{/block}