{extend name="public/base_layui" /}
{block name="title"}角色列表{/block}
{block name="load"}
<!-- css -->
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}
<div class="layui-fluid">
    <div class="layui-row layui-col-md-offset0" style="margin-bottom:20px;">
        <div class="layui-col-md9">
            <a href="/view/role_save" class="layui-btn layui-btn-danger">添加角色</a>
        </div>
    </div>
    <form class="layui-form" action="" method="post">
        <table class="layui-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>角色名称</th>
                    <th>描述</th>
                    <th>管理员拥有</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
</div>

<script>

    let roleList = ajax_list('/role');
    // console.log(roleList);

    for (let value of roleList) {
        $('tbody').append(
            '<tr>'+
                '<td>'+value['id']+'</td>'+
                '<td>'+value['name']+'</td>'+
                '<td>'+value['explain']+'</td>'+
                '<td>阿卡丽</td>'+
                '<td>'+
                    '<a href="javascript:update('+value['id']+');" class="layui-btn">'+
                        '<i class="layui-icon">&#xe642;</i> 修改'+
                    '</a>'+
                    '<a class="layui-btn layui-bg-black" href="javascript:;" onclick="del(this, '+value['id']+');">'+
                        '<i class="layui-icon">&#xe640;</i> 删除'+
                    '</a>'+
                    '<a class="layui-btn layui-bg-blue" href="javascript:;" onclick="auth('+value['id']+')">'+
                        '<i class="layui-icon">&#xe66e;</i> 权限'+
                    '</a>'+
                '</td>'+
            '</tr>'
        );
    }


    function update(id) {
        //修改信息
        layer.open({
            id: '1',
            type: 2,
            title: '角色ID:' + id,
            shadeClose: true,
            shade: [0.8, '#000000'],
            area: ['700px', '500px'],
            content: "/view/role_update/" + id,
        });
    }

    function auth(id) {
        //修改信息
        layer.open({
            id: '1',
            type: 2,
            title: '角色ID:' + id,
            shadeClose: true,
            shade: [0.8, '#000000'],
            area: ['700px', '500px'],
            content: "/view/role_auth/" + id,
        });
    }

    function del(obj, id) {
        layui_form_delete(obj, '/role/' + id);
    }
</script>
{/block}