{extend name="public/base_layui" /}
{block name="title"}节点保存{/block}
{block name="load"}
<!-- css -->
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}
<div class="layui-fluid">
    <div class="layui-form" lay-filter="form">
        <form action="" method="post" name="example">
            <table class="layui-table" lay-size="lg" lay-skin="line">
                <thead>
                    <tr>
                        <th colspan="2">节点添加</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="150" align="right"><strong>节点名称：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="name" placeholder="节点名称">
                            </div>
                            <div class="layui-input-inline">
                                <span style="color: red;">*</span>  例如：/admin、/role
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>节点标题：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="explain" placeholder="节点标题">
                            </div>
                            <div class="layui-input-inline">
                                <span style="color: red;">*</span> 例如：管理员列表
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>视图节点：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="view" placeholder="节点标题">
                            </div>
                            <div class="layui-input-inline">
                                <span style="color: red;">*</span> 例如：/view/admin_index
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>排序：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="sort" placeholder="节点标题">
                            </div>
                            <div class="layui-input-inline">
                                排序：数值越小位置越前
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td align="right"><strong>状态：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input type="radio" name="status" value="1" title="正常" checked>
                                <input type="radio" name="status" value="0" title="禁止">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"></td>
                        <td>
                            <div class="layui-input-inline">
                                <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<script>
    layui.use(['form', 'layer'], function () {
        // 表单实例化
        var form = layui.form;
        // 保存
        layui_ajax_save(form, '/role');
        // layui_ajax_save(form, '/role', '/view/role_index');
    });
</script>
{/block}