{extend name="public/base" /}
{block name="title"}公司新闻{/block}
{block name="load"}
<!-- css -->
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}
<script>
  // 轮播图
  slides(18);
</script>
<!-- 中间内容开始 -->

<div class="container">
  <div class="content">
    <div class="row">

      <!-- 左边的导航 -->
      {include file="public/article_left" /}
      <script>
        $(".divrightLit ul")
          .children()
          .eq(1)
          .find("a")
          .addClass("hover_1");
      </script>


      <!--内容-->
      <div class="div_dtean">
        <div id="ctl00_cphMain_TitleDiv" class="">
          <div class="pdivnewsheader">
            <h5 class="">公司新闻</h5>

            <!-- 位置 -->
            <div class="hidden_m">
              <img alt="" src="__FRONT__/images/wse_diz.png" />
              <a href="/">你当前的位置：首 页 &gt; &gt;</a>
              <a href="/about/2">关于威速易&gt; &gt;</a>
              <a class="hover_1" href="/news">公司新闻</a>
            </div>

          </div>
        </div>

        <div id="ctl00_cphMain_Product" class="row">
          <div class="pdivnewsli" id="news_list">
            <ul>

            </ul>
          </div>
          <script>
            // 页面加载完毕执行
            $(document).ready(function () {
                renderArticleList('/news/get_news_list', 'news');
            });
          </script>
        </div>
        <div class="pager text-center">
          <button type="button" class="layui-btn" onclick="renderArticleList('/news/get_news_list', 'news')">加载更多</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!--中间内容 结束-->
{/block}