{extend name="public/base_xadmin" /}
{block name="title"}更改密码{/block}
{block name="load"}
<!-- css -->
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="L_password" class="layui-form-label">
                    <span class="x-red">*</span>密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_password" name="password" required="" lay-verify="password"
                        autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    6到50个字符
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_password_confirm" class="layui-form-label">
                    <span class="x-red">*</span>确认密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_password_confirm" name="password_confirm" required=""
                        lay-verify="password_confirm" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="form" lay-submit="">
                    保存
                </button>
            </div>

            <input type="hidden" id="id" name="id" required="" value="">
        </form>
    </div>
</div>
<script>
    // 表单赋值
    $('#id').val(get_url_id());
    
    // layui
    layui.use(['form', 'layer'], function () {
        
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;
        
        // 自定义验证规则
        form.verify({
            password: [/(.+){6,50}$/, '密码必须6到50位'],
            password_confirm: function (value) {
                if ($('#L_password').val() != $('#L_password_confirm').val()) {
                    return '两次密码不一致';
                }
            }
        });

        // 更新数据
        layui_ajax_update(form, '/admin/password', layer, false);

    });
</script>
{/block}