{extend name="public/base" /}
{block name="title"}管理员保存{/block}
{block name="load"}
<!-- css -->
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>登录名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="username" name="username" required="" lay-verify="username"
                        autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>将会成为管理员唯一的登入名
                </div>
            </div>
            <div class="layui-form-item">
                <label for="real_name" class="layui-form-label">
                    真实姓名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="real_name" name="real_name" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="phone" class="layui-form-label">
                    手机
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="phone" name="phone" autocomplete="off"
                        class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    联系手机
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">
                    微信
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_email" name="email" required="" lay-verify="" autocomplete="off"
                        class="layui-input">
                </div>
            </div>
            <!-- <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>角色</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="超级管理员" checked="">
                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="编辑人员">
                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="宣传人员" checked="">
                </div>
            </div> -->
            <div class="layui-form-item">
                <label for="L_password" class="layui-form-label">
                    <span class="x-red">*</span>密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_password" name="password" required="" lay-verify="password" autocomplete="off"
                        class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    6到50个字符
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_password_confirm" class="layui-form-label">
                    <span class="x-red">*</span>确认密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_password_confirm" name="password_confirm" required="" lay-verify="password_confirm"
                        autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">单选框</label>
                <div class="layui-input-block">
                    <input type="radio" name="status" value="1" title="开启" checked>
                    <input type="radio" name="status" value="0" title="关闭">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    保存
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layer'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            // 自定义验证规则
            form.verify({
                username: function (value) {
                    if (empty(value)) {
                        return '登录名不能为空！';
                    }
                    if (value.length < 2 || value.length > 25) {
                        return '登录名为2到25个字符！';
                    }
                },
                password: [/(.+){6,50}$/, '密码必须6到50位'],
                password_confirm: function (value) {
                    if ($('#L_password').val() != $('#L_password_confirm').val()) {
                        return '两次密码不一致';
                    }
                }
            });

            //监听提交
            form.on('submit(add)', function (data) {
                console.log(data.field);
                //发异步，把数据提交给php
                $.ajax({
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded",
                    url: '/admin/save',
                    data: data.field,
                    success: function (res) {
                        if (res.status === config('failed')) {
                            layer.msg(res.message);
                        } else if (res.status === config('success')) {
                            layer.msg(res.result, { icon: 1 }, function () {
                                $(window).attr('location', '/view/admin_index');
                            });
                        }
                    }
                });

                return false;
            });

        });
</script>
{/block}