{extend name="public/base_layui" /}
{block name="title"}管理员保存{/block}
{block name="load"}
<!-- css -->
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}
<div class="layui-fluid">
    <div class="layui-form">
        <form action="" method="post" name="example">
            <table class="layui-table" lay-size="lg" lay-skin="line">
                <thead>
                    <tr>
                        <th colspan="2">管理员添加</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="150" align="right"><strong>管理员名称：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="username" placeholder="用户名">
                            </div>
                            <div class="layui-input-inline">
                                <span style="color: red;">*</span> 将会成为管理员唯一的登入名
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>真实名字：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="real_name" placeholder="真实名字">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>手机：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="phone" placeholder="手机">
                            </div>
                            <div class="layui-input-inline">
                                联系手机
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>微信：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="wechat" placeholder="微信">
                            </div>
                            <div class="layui-input-inline">
                                联系微信
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><strong>密码：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="password" name="password" placeholder="密码">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><strong>确认密码：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="password" name="password_confirm" placeholder="确认密码">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td align="right"><strong>角色：</strong></td>
                        <td id="role-td">
                            <div style="margin-bottom:10px;" id="role-div">
                                <div class="layui-input-inline">
                                    <select name="role[]">
                                        <option value="">请选择</option>
                                        <option value="1">超级管理员</option>
                                        <option value="2">文章管理员</option>
                                    </select>
                                </div>
                                <a href="javascript:;" class="layui-btn layui-btn-sm" onclick="add(this)">
                                    <i class="layui-icon">&#xe654;</i> 增加
                                </a>
                                <a href="javascript:;" class="layui-btn layui-bg-black layui-btn-sm"
                                    onclick="del(this)">
                                    <i class="layui-icon">&#xe640;</i> 删除
                                </a>
                            </div>
                            <div class="jinx" style="display:hidden;"></div>
                        </td>
                    </tr>

                    <tr>
                        <td align="right"><strong>登录状态：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input type="radio" name="status" value="1" title="正常" checked>
                                <input type="radio" name="status" value="0" title="禁止">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"></td>
                        <td>
                            <div class="layui-input-inline">
                                <button class="layui-btn" lay-submit lay-filter="form">立即提交</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        // 自定义验证规则
        form.verify({
            username: function (value) {
                if (empty(value)) {
                    return '登录名不能为空！';
                }
                if (value.length < 2 || value.length > 25) {
                    return '登录名为2到25个字符！';
                }
            },
            password: [/(.+){6,50}$/, '密码必须6到50位'],
            password_confirm: function (value) {
                if ($('#L_password').val() != $('#L_password_confirm').val()) {
                    return '两次密码不一致';
                }
            }
        });
        
        // 保存
        layui_ajax_save(form, '/admin');

    });

    // 增加权限下拉框
    function add(obj) {
        layui.use(['jquery', 'layer'], function () {
            var layer = layui.layer
                , $ = layui.$
                , form = layui.form

            var html = $(obj).parents('#role-div').clone();
            $('#"role-td').append(html);

            form.render();
        });

    }

    function del(obj) {
        layui.use(['jquery', 'layer'], function () {
            var layer = layui.layer
                , $ = layui.$
                , form = layui.form

            var len = $('#role-div').length;
            if (len <= 1) {
                return false;
            }

            $(obj).parents('#role-div').remove();

            form.render();
        });

    }
</script>
{/block}