{extend name="public/base_layui" /}
{block name="title"}管理员修改{/block}
{block name="load"}
<!-- css -->
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}
<div class="layui-fluid">
    <div class="layui-form" lay-filter="form">
        <form action="" method="post" name="example">
            <table class="layui-table" lay-size="lg" lay-skin="line">
                <thead>
                    <tr>
                        <th colspan="2">管理员修改</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="150" align="right"><strong>管理员名称：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="username" placeholder="用户名"
                                    lay-filter="username">
                            </div>
                            <div class="layui-input-inline">
                                <span style="color: red;">*</span> 将会成为管理员唯一的登入名
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>真实名字：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="real_name" placeholder="真实名字">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>手机：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="phone" placeholder="手机">
                            </div>
                            <div class="layui-input-inline">
                                联系手机
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>微信：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="wechat" placeholder="微信">
                            </div>
                            <div class="layui-input-inline">
                                联系微信
                            </div>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td align="right"><strong>密码：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="password" name="password" placeholder="密码">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><strong>确认密码：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="password" name="password_confirm" placeholder="确认密码">
                            </div>
                        </td>
                    </tr> -->

                    <tr>
                        <td align="right"><strong>角色：</strong></td>
                        <td id="role-td">
                            <div style="margin-bottom:10px;" class="role-div">
                                <div class="layui-input-inline">
                                    <select id="role-select">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                                <a href="javascript:;" class="layui-btn layui-btn-sm" onclick="add(this)">
                                    <i class="layui-icon">&#xe654;</i> 增加
                                </a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td align="right"><strong>登录状态：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input type="radio" name="status" value="1" title="正常">
                                <input type="radio" name="status" value="0" title="禁止">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"></td>
                        <td>
                            <div class="layui-input-inline">
                                <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
                                <input type="hidden" name="id">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>



<script>

    // 获取角色数据
    var role = ajax_list('/role');
    console.log(role);
    for (let value of role) {
        $('#role-select').append('<option value="' + value['id'] + '">' + value['name'] + '</option>');
    }

    // 表单赋值
    let data = ajax_read('/admin');
    for (let role of data['roles']) {
        $('#role-td').append(
            '<div class="layui-input-inline" style="margin-right:10px;">' +
            '<button type="button" class="layui-btn">'+role['name']+'</button>' +
            '<input type="hidden" name="roles[]" value="'+role['id']+'">' +
            '<a href="javascript:;" class="layui-btn layui-bg-black" onclick="del(this)">删除</a>' +
            '</div>'
        );
    }

    // layui
    layui.use(['form', 'layer'], function () {

        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        // 赋值
        form.val("form", data);
        // 取值
        // data = form.val("form");

        // 自定义验证规则
        form.verify({
            username: function (value) {
                if (empty(value)) {
                    return '登录名不能为空！';
                }
                if (value.length < 2 || value.length > 25) {
                    return '登录名为2到25个字符！';
                }
            }
        });

        // 更新数据
        layui_ajax_update(form, '/admin');

    });

    // 增加权限下拉框
    function add(obj) {
        var value = $('#role-select').val();
        var name = $('#role-select').find("option:selected").text();
        console.log(empty(value));
        console.log(name);
        
        if (empty(value)) {
            return false;
        }

        $('#role-td').append(
            '<div class="layui-input-inline" style="margin-right:10px;">' +
            '<button type="button" class="layui-btn">'+name+'</button>' +
            '<input type="hidden" name="roles[]" value="'+value+'">' +
            '<a href="javascript:;" class="layui-btn layui-bg-black" onclick="del(this)">删除</a>' +
            '</div>'
        );

        layui.use(['form'], function () {
            var form = layui.form
            form.render();
        });
    }

    function del(obj) {
        $(obj).parents('.layui-input-inline').remove();
        layui.use(['form'], function () {
            var form = layui.form
            form.render();
        });
    }
</script>
{/block}