{extend name="public/base" /}
{block name="title"}跨境平台详情{/block}
{block name="load"}
<!-- css -->
<style>
  .div_dtean h4 {
    font-size: 24px;
  }
</style>
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}
<script>
  // 轮播图
  slides(4);
</script>
<!-- 中间内容开始 -->
<div class="container">
  <div class="row">

    <!-- 左边的导航 -->
    {include file="public/platform_left" /}

    <!--内容-->
    <div class="div_dtean">
      <div id="ctl00_cphMain_Album" class="">
        <div class="product_3erp">
          <h4><strong  id="assign-title"></strong></h4>
          <div class="dashed-line"></div>
          <div class="product_3erpimg">
            <img class="img-thumbnail" src="" alt="" title="" id="assign-image" />
            <div class="divmiaosu">
              <p class="first-line-indent"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12" id="assign-content">

            </div>
          </div>

        </div>
        <script>
          let platform = ajax_read('/platform/info');
          console.log(platform);
          $('#assign-title').text(platform.title);
          $('#assign-image').attr('src', platform.image);
          $('#assign-image').attr('alt', platform.title);
          $('#assign-image').attr('title', platform.title);
          $('#assign-content').html(HtmlUtil.htmlDecode(platform.desc.content));
        </script>
      </div>
    </div>
  </div>


  <!--中间内容 结束-->
  {/block}