{extend name="public/base" /}
{block name="title"}跨境平台{/block}
{block name="load"}
<!-- css -->
<style>
  .div_dtean h4 {
    font-size: 24px;
  }
</style>
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}

<!-- 中间内容开始 -->
<div class="container">
  <div class="row">

    <!-- 左边的导航 -->
    {include file="public/platform_left" /}

    <!--内容-->
    <div class="div_dtean">
      <div id="ctl00_cphMain_TitleDiv" class=""></div>

      <div class="">
        <div id="ctl00_cphMain_Album" class="">
          <div class="pdivnerp">
            <ul>
              <li>
                <a href="/platform/1"><img
                    src="__FRONT__/images/2020041812085230374814.png"
                    alt="速卖通 AliExpress" title="速卖通 AliExpress" />
                  <p>速卖通 AliExpress</p>
                </a>
              </li>
              <li>
                <a href="/platform/2"><img
                    src="__FRONT__/images/2020041812032673086343.png"
                    alt="亚马逊 Amazon" title="亚马逊 Amazon" />
                  <p>亚马逊 Amazon</p>
                </a>
              </li>
              <li>
                <a href="/platform/3"><img
                    src="__FRONT__/images/2020041811571883452674.png"
                    alt="eBay" title="eBay" />
                  <p>eBay</p>
                </a>
              </li>
              <li>
                <a href="/platform/4"><img
                    src="__FRONT__/images/2020041811465355731367.png"
                    alt="Wish" title="Wish" />
                  <p>Wish</p>
                </a>
              </li>
              <li>
                <a href="/platform/5"><img
                    src="__FRONT__/images/2020041811394990384796.png"
                    alt="阿里巴巴国际站" title="阿里巴巴国际站" />
                  <p>阿里巴巴国际站</p>
                </a>
              </li>
              <li>
                <a href="/platform/6"><img
                    src="__FRONT__/images/2020041810422945313912.png"
                    alt="敦煌网" title="敦煌网" />
                  <p>敦煌网</p>
                </a>
              </li>
              <li>
                <a href="/platform/7"><img
                    src="__FRONT__/images/2020041810314973145017.jpg"
                    alt="Shopify" title="Shopify" />
                  <p>Shopify</p>
                </a>
              </li>
              <li>
                <a href="/platform/8"><img
                    src="__FRONT__/images/2020041810190132862602.jpg"
                    alt="Shopee" title="Shopee" />
                  <p>Shopee</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="pager text-center">
          <!-- AspNetPager 7.3.2  Copyright:2003-2010 Webdiyer (www.webdiyer.com) -->
          <div id="ctl00_cphMain_ListPager" class="Pager">
            <div class="CustomInfo" style="width: 40%; float: left">
              Page 1 of 1
            </div>
            <div class="Pager" style="width: 60%; float: left">
              <a disabled="disabled" style="margin-right: 5px"><span class="btnLink" title="首页">首页</span></a><a
                disabled="disabled" style="margin-right: 5px"><span class="btnLink" title="上一页">上一页</span></a><span
                class="CurrentPage" style="margin-right: 5px"><span class="Pager">1</span></span><a
                disabled="disabled" style="margin-right: 5px"><span class="btnLink" title="下一页">下一页</span></a><a
                disabled="disabled" style="margin-right: 5px"><span class="btnLink" title="尾页">尾页</span></a>
            </div>
          </div>
          <!-- AspNetPager 7.3.2  Copyright:2003-2010 Webdiyer (www.webdiyer.com) -->
        </div>
      </div>
    </div>
  </div>
</div>



<!--中间内容 结束-->
{/block}