<!-- 左边的导航 -->
<div class="dievright">
    <div class="col-md-12 box-margin-top" id="ctl00_cphMain_CategoryDiv">
        <div class="divtitle2">
            <div class="divtitle2_h6">关于威速易</div>

            <div class="divabouen">About Us</div>
        </div>
        <div class="divrightLit">
            <ul>
                <li><a href="/about/2" id="about_2">公司介绍</a></li>
                <li><a href="/about/3" id="about_3">企业文化</a></li>
                <li><a href="/about/4" id="about_4">人才招聘</a></li>
                <li><a href="/article">跨境咨询</a></li>
                <li><a href="/news">公司新闻</a></li>
            </ul>
        </div>
        <script>
            // 页面加载完毕执行
            // $(document).ready(function () {
            //     // 获取分类列表
            //     let categoryList = xhr_get('/category/get_category_list');
            //     // console.log(categoryList);
            //     // 递归找子级数据
            //     categoryList = get_chlidren(categoryList, 2);
            //     // console.log(categoryList);
            //     var html = '';
            //     $.each(categoryList, function (key, value) {
            //         html += '<li><a href="'+value.url+'" id="about_'+value.id+'">'+value.title+'</a></li>';
            //     });
            //     $('.divrightLit ul').append(html);
            // });
        </script>
    </div>
    <!--联系我们-->

    <div class="col-md-12 box-margin-top" id="ctl00_cphMain_Contact_Contact">&nbsp;</div>
</div>