<!-- 左边的导航 -->
<div class="dievright">
    <div id="ctl00_rzpt" class="">
        <div class="divtitle2">
            <div class="divtitle2_h6">热门平台入驻</div>
            <span class="divabouen">Hot platform entry</span>
        </div>
        <div class="divrightLit">
            <ul>
                <li>
                    <a href="/platform/1" title="速卖通 AliExpress">
                        <div class="nc-right">速卖通 AliExpress</div>
                    </a>
                </li>
                <li>
                    <a href="/platform/2" title="亚马逊 Amazon">
                        <div class="nc-right">亚马逊 Amazon</div>
                    </a>
                </li>
                <li>
                    <a href="/platform/3" title="eBay">
                        <div class="nc-right">eBay</div>
                    </a>
                </li>
                <li>
                    <a href="/platform/4" title="Wish">
                        <div class="nc-right">Wish</div>
                    </a>
                </li>
                <li>
                    <a href="/platform/5" title="阿里巴巴国际站">
                        <div class="nc-right">阿里巴巴国际站</div>
                    </a>
                </li>
                <li>
                    <a href="/platform/6" title="敦煌网">
                        <div class="nc-right">敦煌网</div>
                    </a>
                </li>
                <li>
                    <a href="/platform/7" title="Shopify">
                        <div class="nc-right">Shopify</div>
                    </a>
                </li>
                <li>
                    <a href="/platform/8" title="Shopee">
                        <div class="nc-right">Shopee</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>