
<div id="floatTools" class="float0831">
    <div class="floatL"><a style="DISPLAY: none" id="aFloatTools_Show" class="btnOpen" title="查看在线客服"
            onclick="javascript:$('#divFloatToolsView').animate({width: 'show', opacity: 'show'}, 'normal',function(){ $('#divFloatToolsView').show();kf_setCookie('RightFloatShown', 0, '', '/', 'www.istudy.com.cn'); });$('#aFloatTools_Show').attr('style','display:none');$('#aFloatTools_Hide').attr('style','display:block');"
            href="javascript:void(0);">咨询</a> <a id="aFloatTools_Hide" class="btnCtn" title="关闭在线客服"
            onclick="javascript:$('#divFloatToolsView').animate({width: 'hide', opacity: 'hide'}, 'normal',function(){ $('#divFloatToolsView').hide();kf_setCookie('RightFloatShown', 1, '', '/', 'www.istudy.com.cn'); });$('#aFloatTools_Show').attr('style','display:block');$('#aFloatTools_Hide').attr('style','display:none');"
            href="javascript:void(0);">收缩</a> </div>
    <div id="divFloatToolsView" class="floatR">
        <div class="tp"></div>
        <div class="cn">
            <ul>

                <li><span class="icoZx">在线咨询</span> </li>
                <div id="Service_ServiceBox" class=""></div>
                <li>
                    <a target="blank"
                        href="http://wpa.qq.com/msgrd?V=1'uin=2850153439'Exe=QQ'Site=www.gdwse.com'Menu=yes">
                        <img src="__FRONT__/images/pa.gif" alt="Online" hspace="2" border="0" align="absmiddle">
                        <span>广州业务1</span>
                    </a>
                </li>
                <li>
                    <a target="blank"
                        href="http://wpa.qq.com/msgrd?V=1'uin=2850153392'Exe=QQ'Site=www.gdwse.com'Menu=yes">
                        <img src="__FRONT__/images/pa.gif" alt="Online" hspace="2" border="0" align="absmiddle">
                        <span>广州业务2</span>
                    </a>
                </li>
                <li>
                    <a target="blank"
                        href="http://wpa.qq.com/msgrd?V=1'uin=2853576360'Exe=QQ'Site=www.gdwse.com'Menu=yes">
                        <img src="__FRONT__/images/pa.gif" alt="Online" hspace="2" border="0" align="absmiddle">
                        <span>番禺业务</span>
                    </a>
                </li>
                <li>
                    <a target="blank"
                        href="http://wpa.qq.com/msgrd?V=1'uin=2850153409'Exe=QQ'Site=www.gdwse.com'Menu=yes">
                        <img src="__FRONT__/images/pa.gif" alt="Online" hspace="2" border="0" align="absmiddle">
                        <span>花都业务</span>
                    </a>
                </li>
                <li>
                    <a target="blank"
                        href="http://wpa.qq.com/msgrd?V=1'uin=3004643903'Exe=QQ'Site=www.gdwse.com'Menu=yes">
                        <img src="__FRONT__/images/pa.gif" alt="Online" hspace="2" border="0" align="absmiddle">
                        <span>佛山业务</span>
                    </a>
                </li>
                <li>
                    <a target="blank"
                        href="http://wpa.qq.com/msgrd?V=1'uin=2850153427'Exe=QQ'Site=www.gdwse.com'Menu=yes">
                        <img src="__FRONT__/images/pa.gif" alt="Online" hspace="2" border="0" align="absmiddle">
                        <span>深圳业务1</span>
                    </a>
                </li>
                <li>
                    <a target="blank"
                        href="http://wpa.qq.com/msgrd?V=1'uin=2850153423'Exe=QQ'Site=www.gdwse.com'Menu=yes">
                        <img src="__FRONT__/images/pa.gif" alt="Online" hspace="2" border="0" align="absmiddle">
                        <span>深圳业务2</span>
                    </a>
                </li>
                <li>
                    <a target="blank"
                        href="http://wpa.qq.com/msgrd?V=1'uin=2850153410'Exe=QQ'Site=www.gdwse.com'Menu=yes">
                        <img src="__FRONT__/images/pa.gif" alt="Online" hspace="2" border="0" align="absmiddle">
                        <span>华强北业务</span>
                    </a>
                </li>
                <li>
                    <a target="blank"
                        href="http://wpa.qq.com/msgrd?V=1'uin=2850153404'Exe=QQ'Site=www.gdwse.com'Menu=yes">
                        <img src="__FRONT__/images/pa.gif" alt="Online" hspace="2" border="0" align="absmiddle">
                        <span>坂田业务</span>
                    </a>
                </li>
                <li>
                    <a target="blank"
                        href="http://wpa.qq.com/msgrd?V=1'uin=3002847061'Exe=QQ'Site=www.gdwse.com'Menu=yes">
                        <img src="__FRONT__/images/pa.gif" alt="Online" hspace="2" border="0" align="absmiddle">
                        <span>俄罗斯海外仓</span>
                    </a>
                </li>
                <li>
                    <a target="blank"
                        href="http://wpa.qq.com/msgrd?V=1'uin=2853576368'Exe=QQ'Site=www.gdwse.com'Menu=yes">
                        <img src="__FRONT__/images/pa.gif" alt="Online" hspace="2" border="0" align="absmiddle">
                        <span>客户投诉建议</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li> <span id="Service_lblHotLine" class="">020-86254345转801</span> </li>
            </ul>
        </div>
    </div>
</div>