{extend name="public/base" /}
{block name="title"}跨境咨询{/block}
{block name="load"}
<!-- css -->
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}
<script>
  // 轮播图
  slides(11);
</script>
<!-- 中间内容开始 -->

<div class="container">
  <div class="content">
    <div class="row">

      <!-- 左边的导航 -->
      {include file="public/article_left" /}
      <script>
        $(".divrightLit ul")
          .children()
          .eq(0)
          .find("a")
          .addClass("hover_1");
      </script>


      <!--内容-->
      <div class="div_dtean">
        <div id="ctl00_cphMain_TitleDiv" class="">
          <div class="pdivnewsheader">
            <h5 class="">跨境咨询</h5>

            <!-- 位置 -->
            <div class="hidden_m">
              <img alt="" src="__FRONT__/images/wse_diz.png" />
              <a href="/">你当前的位置：首 页 &gt; &gt;</a>
              <a href="/about">关于威速易&gt; &gt;</a>
              <a class="hover_1" href="/article">跨境咨询</a>
            </div>

          </div>
        </div>

        <div id="ctl00_cphMain_Product" class="row">
          <div class="pdivnewsli" id="news_list">
            <ul>

            </ul>
          </div>
          <script>
            // 页面加载完毕执行
            $(document).ready(function () {
              renderArticleList();
            });
            
            // 页码
            let page = 1;

            // 渲染文章列表
            function renderArticleList() {

              // 获取跨境咨询列表
              var articleList = ajax_list('/article/list?page=' + page + '&limit=2');
              // console.log(articleList);

              // 页码加1
              page += 1;

              var html = '';
              $.each(articleList, function (key, value) {
                html += '<li>';
                html += '<div class="pdivnewslitb">';
                html += '<a href="/article/' + value.id + '" target="_blank">';
                html += '<img class="pdivnewslitbimg" src="' + value.image + '" alt="' + value.title + '" title="' + value.title + '" style="width: 170px; height: 128px" />';
                html += '</a>';
                html += '</div>';
                html += '<div class="pdivnewslileft">';
                html += '<h8><a href="/article/' + value.id + '" target="_blank">' + value.title + '</a></h8>';
                html += '<div class="pdivtimes">' + timestampToTime(value.create_time, true) + '</div>';
                html += '<div class="divteanbcent">';
                html += '<a href="/article/' + value.id + '" target="_blank">';
                html += '<p>' + value.description + '</p>';
                html += '</div>';
                html += '</div>';
                html += '</li>';
              });
              
              $('#news_list ul').append(html);
            }
          </script>
        </div>
        <div class="pager text-center">
          <button type="button" class="layui-btn" onclick="renderArticleList()">加载更多</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!--中间内容 结束-->
{/block}