{extend name="public/base" /}
{block name="title"}新闻详情{/block}
{block name="load"}
<!-- css -->
<style>
  .div_dtean h4 {
    font-size: 24px;
  }
  .aritcle-guide label,a{
    font-size: 12px;
  }
</style>
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}

<!-- 中间内容开始 -->

<div class="container">
  <div class="content">
    <div class="row">

      <!-- 左边的导航 -->
      {include file="public/article_left" /}
      <script>
        $(".divrightLit ul")
          .children()
          .eq(1)
          .find("a")
          .addClass("hover_1");
      </script>


      <!--内容-->
      <div class="div_dtean">
        <div id="ctl00_cphMain_Product" class="">
          <div class="product_3">
            <h4 class="text-center">
              <strong>做自发货一年亏了80W，暴乱致大量配送延误！</strong>
            </h4>
            <div class="dashed-line"></div>
            <p class="text-center"></p>
            <div id="owl-demo" style="opacity: 0"></div>
            <p></p>
            <div class="row">
              <div class="pageContent col-xs-12">
                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >谁做亚马逊不是为了赚钱呢？然而，这个初衷却一次次被现实暴击。</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: droid sans fallback"
                      >&nbsp;</span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><strong
                      ><span style="font-family: 微软雅黑"
                        ><span style="font-family: 微软雅黑"
                          >做自发货一年赔了</span
                        >80W</span
                      ></strong
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >近期有一位业内卖家称，亚马逊自发货（</span
                      >FBM<span style="font-family: 微软雅黑"
                        >）运营，做了一年的铺货，不用压货，不用压资金是对的，但是</span
                      ><span style="font-family: droid sans fallback"
                        >2</span
                      ><span style="font-family: 微软雅黑"
                        >个月的回款周期太长了，根本</span
                      ><span style="font-family: droid sans fallback"
                        >hold</span
                      ><span style="font-family: 微软雅黑"
                        >不住。而且无脑的海量</span
                      ><span style="font-family: droid sans fallback"
                        >SKU</span
                      ><span style="font-family: 微软雅黑"
                        >成功几率很小，还会存在一些侵权问题。因为种种原因一直在赔钱，去年一年前前后后赔了</span
                      ><span style="font-family: droid sans fallback"
                        >80W&nbsp;</span
                      ><span style="font-family: 微软雅黑"
                        >，依旧没有什么起色。</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >还有同行称：前公司</span
                      >18-19<span style="font-family: 微软雅黑"
                        >年做的全都是</span
                      ><span style="font-family: droid sans fallback"
                        >FBM</span
                      ><span style="font-family: 微软雅黑"
                        >铺货，大件产品垂直类目，高单价、高利润、竞争小（单站点日销</span
                      ><span style="font-family: droid sans fallback"
                        >1w</span
                      ><span style="font-family: 微软雅黑"
                        >刀左右），容易引起侵权和各种绩效问题，天天回复邮件处理客诉。</span
                      ><span style="font-family: droid sans fallback"
                        >FBM</span
                      ><span style="font-family: 微软雅黑">是中国直发</span
                      ><span style="font-family: droid sans fallback"
                        >+</span
                      ><span style="font-family: 微软雅黑"
                        >海外仓，还是亚马逊</span
                      ><span style="font-family: droid sans fallback"
                        >+ebay+</span
                      ><span style="font-family: 微软雅黑"
                        >速卖通多平台经营。这和上述卖家情况有些类似。不过在之后的</span
                      ><span style="font-family: droid sans fallback"
                        >2019</span
                      ><span style="font-family: 微软雅黑">年下半年</span
                      ><span style="font-family: droid sans fallback"
                        >,</span
                      ><span style="font-family: 微软雅黑"
                        >公司逐渐改变了策略：卖得好的产品就往</span
                      ><span style="font-family: droid sans fallback"
                        >FBA</span
                      ><span style="font-family: 微软雅黑"
                        >走了，并且成立了精品部门。</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑">赔了</span
                      >80W<span style="font-family: 微软雅黑"
                        >还是找不到突破口，这种情况应该尽早调整经营方向，或者招有经验的运营重新组建团队，慢慢总会探索出一条适合自己走的路。</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >业内卖家分析称，这可能源于该卖家对自己的定位不够清晰。产品运营、推广资源、物流、货源、资金等自己的优势在哪里呢？可以先给自己定位，规划下产品，开支，成本，毛利等。</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >诚然，除了找到优势，调整规划方向，有不少业内卖家直接一针见血：都</span
                      >2020<span style="font-family: 微软雅黑"
                        >年了还做自发货，有什么前途？试想一下，如果你是亚马逊，给</span
                      ><span style="font-family: droid sans fallback"
                        >FBA</span
                      ><span style="font-family: 微软雅黑"
                        >的多一点流量还是</span
                      ><span style="font-family: droid sans fallback"
                        >FBM</span
                      ><span style="font-family: 微软雅黑"
                        >？买家会买本地仓</span
                      ><span style="font-family: droid sans fallback"
                        >3</span
                      ><span style="font-family: 微软雅黑"
                        >天送到，还是漂洋过海一两个礼拜送到的？</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >大家这样的表达，不免有一些偏激，做不做自发货还有一点是要看自己的产品合不合适。小编不是专业卖家，对此不作过多的分析。不过今年以来，自发货的矛盾正逐渐凸显出来，一些卖家表示，被自发货拖得很惨！</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >疫情爆发之后，今年</span
                      >3<span style="font-family: 微软雅黑"
                        >月之后的一段时间亚马逊只允许生活必须品入仓，许多卖家无奈做起了自发货。如今很多卖家报货物延迟，</span
                      ><span style="font-family: droid sans fallback"
                        >3</span
                      ><span style="font-family: 微软雅黑"
                        >个月依旧没有到货，退款激增。卖家们一个个热乎乎的反馈，也正能体现出这一痛点</span
                      ></span
                    ><span style="font-family: arial">↓</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: droid sans fallback"
                      >2<span style="font-family: 微软雅黑">月份</span
                      ><span style="font-family: droid sans fallback"
                        >3</span
                      ><span style="font-family: 微软雅黑"
                        >月份发的</span
                      ></span
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >货，兜兜转转现在</span
                      ></span
                    ><span style="font-family: droid sans fallback"
                      ><span style="font-family: 微软雅黑"
                        >还有没到</span
                      ></span
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑">；</span></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >总共就做了不到一个月的</span
                      >FBM<span style="font-family: 微软雅黑"
                        >，处理邮件处理到爆炸，退款退到麻木；</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >不要慌，你不是一个人，二十多个</span
                      >AZ<span style="font-family: 微软雅黑"
                        >的我说啥了；</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: droid sans fallback"
                      ><span style="font-family: 微软雅黑">每天</span
                      >100<span style="font-family: 微软雅黑"
                        >封邮件的飘过</span
                      ></span
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑">；</span></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: droid sans fallback"
                      ><span style="font-family: 微软雅黑"
                        >疫情一爆发，好多</span
                      >FBA<span style="font-family: 微软雅黑"
                        >断货，自发货的几个页面就莫名奇妙的起来了。当时还很高兴，现在才发现原来是噩梦</span
                      ></span
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑">；</span></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      >3<span style="font-family: 微软雅黑"
                        >个月了</span
                      ></span
                    ><span style="font-family: droid sans fallback"
                      ><span style="font-family: 微软雅黑"
                        >还一堆没到，准时投递率指标是吓死人</span
                      ></span
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑">；</span></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">三、</span
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >四月发了总计一千个自发货，一个都没送到，亏损十几万；</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >此外还有做自发货的卖家表示，因为</span
                      >fedex usps<span style="font-family: 微软雅黑"
                        >先后出现大面积延误和爆仓，很多产品</span
                      ><span style="font-family: droid sans fallback"
                        >2</span
                      ><span style="font-family: 微软雅黑"
                        >周了还没送达，物流路径更新缓慢，店铺已经出现</span
                      ><span style="font-family: droid sans fallback"
                        >5</span
                      ><span style="font-family: 微软雅黑">个</span
                      ><span style="font-family: droid sans fallback"
                        >A-Z</span
                      ><span style="font-family: 微软雅黑"
                        >索赔，订单缺陷率是</span
                      ><span style="font-family: droid sans fallback"
                        >0.98%</span
                      ><span style="font-family: 微软雅黑"
                        >，现在还有五六百单没有送达。如果全部退款，就是钱货两空，估计亏</span
                      ><span style="font-family: droid sans fallback"
                        >15</span
                      ><span style="font-family: 微软雅黑">万。</span></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >疫情加上美国暴乱，近期物流配送问题真真让卖家头疼。小编看到物流无法配送显示了因为暴乱的新理由。</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  ><br />
                  &nbsp;
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><img
                        alt="1.png"
                        src="__FRONT__/images/1591761262476918.png"
                        style="
                          border-image: none;
                          border: 0px currentColor;
                          box-sizing: border-box;
                          display: block;
                          list-style: none;
                          margin: 20px auto;
                          max-width: 720px;
                          padding: 0px;
                          vertical-align: middle;
                        "
                        title="1591761262476918.png" /></span
                  ></span>
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >当延迟变成常态，看到这种信息后大家都变的异常淡定了：还好不是被抢，至少包裹还在！</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><strong
                      ><span style="font-family: 微软雅黑"
                        ><span style="font-family: 微软雅黑"
                          >放弃亚马逊业务</span
                        >or<span style="font-family: 微软雅黑"
                          >已完成全年目标</span
                        ></span
                      ></strong
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >今年的大环境对跨境电商卖家考验巨大，一位新手卖家戏称：从新手村直接进入了地狱模式。疫情</span
                      >+<span style="font-family: 微软雅黑"
                        >暴乱之下，跨境电商行业开始洗牌，卖家的经营现状已经出现两极分化趋势。</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >上文自发货卖家亏损严重，目前日常之一就是退款，他们立下</span
                      >flag<span style="font-family: 微软雅黑"
                        >“以后再也不自发货”。相比之下，他们还有回寰的余地，但另一些卖家已经无奈选择放弃亚马逊业务。</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >几天前，一位运营感叹世事难料：</span
                      >“今天公司打算放弃亚马逊这一块业务，我被迫离职，最迟月底就得走了。”据这位运营介绍，目前所在的公司产品刚刚做起来，正常有盈利，但公司其他业务资金紧缺，因此决定不再投入，解散部门，放弃现有的亚马逊业务。</span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><img
                        alt="2.png"
                        src="__FRONT__/images/1591761255410135.png"
                        style="
                          border-image: none;
                          border: 0px currentColor;
                          box-sizing: border-box;
                          display: block;
                          list-style: none;
                          margin: 20px auto;
                          max-width: 720px;
                          padding: 0px;
                          vertical-align: middle;
                        "
                        title="1591761255410135.png" /></span
                  ></span>
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: droid sans fallback"
                      >&nbsp;</span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >对此，有卖家同行直叹可惜：今年放弃亚马逊的老板太傻了，</span
                      >5<span style="font-family: 微软雅黑"
                        >月份亚马逊单量翻倍涨，怎么会做不下呢？该运营人员表示：去年末公司才开亚马逊业务，这块有</span
                      ><span style="font-family: droid sans fallback"
                        >3</span
                      ><span style="font-family: 微软雅黑"
                        >个人在做，结果撞上疫情，近期有所盈利，但回款太慢且盈利不高，而公司其他业务盈利比亚马逊方面大，因此公司才做出这一决定。</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >得到消息后，该运营开始了解现阶段离职找工作的情况，其介绍自己有一定的专业优势，做过</span
                      >BSR<span style="font-family: 微软雅黑">前</span
                      ><span style="font-family: droid sans fallback"
                        >50&nbsp;</span
                      ><span style="font-family: 微软雅黑"
                        >产品，有自己的打法和思路，广告基本</span
                      ><span style="font-family: droid sans fallback"
                        >ACOS</span
                      ><span style="font-family: 微软雅黑">控制在</span
                      ><span style="font-family: droid sans fallback"
                        >25%</span
                      ><span style="font-family: 微软雅黑"
                        >，有部分买家邮箱，一直在做精品，月销售额最高</span
                      ><span style="font-family: droid sans fallback"
                        >8W</span
                      ><span style="font-family: 微软雅黑"
                        >美刀。</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >事实上，类似的事情并不少见，小编接触到的一位行业</span
                      >HR<span style="font-family: 微软雅黑"
                        >表示，今年接到的简历，离职原因一栏多人填的都是“被离职”；一位老板也表示，今年的招聘格外容易，收到的简历中优秀的人才也很多。</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >疫情期间，跨境电商卖家压抑了许久。但进入五月，行业状况已整体好转，目前，卖家们普遍担心的是库存不能及时到位导致的卖断货问题，多位卖家的订单量已经全面好转。</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >与缩减甚至放弃亚马逊业务的卖家相比，在多磨难的环境下，一些卖家已经超额完成了今年的销售目标。本周，一位大卖家喜悦地表示：今天的销售是去年同期的</span
                      >210%<span style="font-family: 微软雅黑"
                        >，今时今日完全碾压竞争对手；另一位卖家坦言，今年</span
                      ><span style="font-family: droid sans fallback"
                        >5</span
                      ><span style="font-family: 微软雅黑"
                        >月份就已经完成了全年的目标。</span
                      ></span
                    ></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑">&nbsp;</span></span
                  >
                </p>

                <p>
                  <span style="font-size: 16px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >在保持业绩不倒退的前提下，不少卖家还在努力的百尺竿头更进一步。例如，一位</span
                      >“小卖”表示，做亚马逊<span
                        style="font-family: droid sans fallback"
                        >3</span
                      ><span style="font-family: 微软雅黑"
                        >年了，一直徘徊在</span
                      ><span style="font-family: droid sans fallback"
                        >1000</span
                      ><span style="font-family: 微软雅黑"
                        >万附近，深感惭愧，希望接受来自年销</span
                      ><span style="font-family: droid sans fallback"
                        >5000</span
                      ><span style="font-family: 微软雅黑"
                        >万以上卖家的捶打，请取经一二。你能够给他一些经验吗？</span
                      ></span
                    ></span
                  ><br />
                  <br />
                  <br />
                  <br />
                  &nbsp;
                </p>

                <p style="text-align: right">
                  <br />
                  <span style="font-size: 14px"
                    ><span style="font-family: 微软雅黑"
                      ><span style="font-family: 微软雅黑"
                        >来源：亿恩网
                      </span></span
                    >晶晶</span
                  ><br />
                  &nbsp;
                </p>
                <br /><br />
                <p></p>
              </div>
            </div>
            <div class="dashed-line"></div>
            <div class="row aritcle-guide">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <label>上一个产品：</label>
                <span>
                  <a href="http://www.gdwse.com/products/2372.html">重锤！美国向中国口罩商索赔$150W，10多家企业被列假冒名单</a>
                </span>
              </div>
              <div id="b-right" class="col-md-6 col-sm-6 col-xs-12">
                <label>下一个产品：</label
                >
                <span>
                  <a href="http://www.gdwse.com/products/2377.html">速看！各平台政策调整，wishpost部分物流渠道及路向价格调整</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--中间内容 结束-->
{/block}