{extend name="public/base" /}
{block name="title"}联系我们{/block}
{block name="load"}
<!-- css -->
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}

<!-- 中间内容开始 -->

<div class="">
  <div class="row">
    <!--内容-->
    <div id="ctl00_cphMain_ContentDiv" class="">
      <div class="product_3">
        <div style="text-align: left; line-height: 2">
          <div class="pageContent">
            <div>

              <div class="div_dcon">
                <div class="content">
                  <div class="div_wselx">
                    &nbsp;
                    <div>
                      <span style="font-size: 16px"
                        >全国服务热线：020-86254345转801&nbsp;<br />
                        <br />
                        <img
                            src="__FRONT__/images/2017110416572163113352.jpg"
                            style="
                              border-image: none;
                              border: 0px currentColor;
                            " /></span
                      ><br />
                      &nbsp;
                    </div>

                    <table border="0" style="width: 100%">
                      <tbody>
                        <tr>
                          <td>
                            <p>
                              <span style="font-size: 18px"
                                ><strong>广州总部</strong></span
                              >
                            </p>

                            <p>
                              <span style="font-size: 16px"
                                >广州市白云区鹤龙一路国妆电商大厦606<br />
                                服务热线：020-86254345<br />
                                联系电话：18922310091</span
                              >
                            </p>
                          </td>
                          <td>
                            <p>
                              <span style="font-size: 18px"
                                ><strong>广州仓库</strong></span
                              >
                            </p>

                            <p>
                              <span style="font-size: 16px"
                                >广州白云区鹤龙街鹤龙一路28号金泰创意园L栋102<br />
                                服务热线：020-86254345<br />
                                联系电话：18922310091</span
                              >
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p>
                              <br />
                              <span style="font-size: 18px"
                                ><strong>番禺大石</strong></span
                              >
                            </p>

                            <p>
                              <span style="font-size: 16px"
                                >广州番禺大石富丽家园宾至路148号<br />
                                服务热线：020-31132695<br />
                                联系电话：13829730675</span
                              >
                            </p>
                          </td>
                          <td>
                            <p>
                              <br />
                              <span style="font-size: 18px"
                                ><strong>深圳机场</strong></span
                              >
                            </p>

                            <p>
                              <span style="font-size: 16px"
                                >深圳市宝安区福永镇福围第二工业区A10栋一楼<br />
                                服务热线：0755-23349470<br />
                                联系电话：13802781696</span
                              >
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p>
                              <br />
                              <span style="font-size: 18px"
                                ><strong>深圳坂田</strong></span
                              >
                            </p>

                            <p>
                              <span style="font-size: 16px"
                                >深圳市龙岗区坂田街道环城路68号金方华电商物流产<br />
                                业园5栋105-106号<br />
                                联系电话：13802783440</span
                              >
                            </p>

                            <p>&nbsp;</p>
                          </td>
                          <td>
                            <h2 style="margin-left: 0pt">
                              <span style="font-size: 18px"
                                ><strong>义乌分公司</strong></span
                              >
                            </h2>

                            <p style="margin-left: 0pt">
                              <span style="font-size: 16px"
                                >浙江省金华市义乌市北苑街道凌云六区41栋三单元1楼<br />
                                服务热线：13829730149</span
                              >
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p>&nbsp;</p>
                          </td>
                          <td>
                            <p>&nbsp;</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br />
                    <br />
                    <br />
                    <br />
                    &nbsp;
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--中间内容 结束-->
{/block}