{extend name="public/base" /}
{block name="title"}企业文化{/block}
{block name="load"}
<!-- css -->
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}

<!-- 中间内容开始 -->

<div class="">
  <div class="row">
    <!--内容-->
    <div id="ctl00_cphMain_ContentDiv" class="">
      <div class="product_3">
        <div style="text-align: left; line-height: 2;">
          <div class="pageContent">
            <div>

              <div class="div_dcon">
                <div class="content">


                  <!--左边的导航-->
                  {include file="public/company_left" /}
                  <script>
                    $('#divrightLit ul').children().eq(1).find('a').addClass('hover_1');
                  </script>
                  
                  <!-- 右侧 -->
                  <div class="div_dtean" id="qywh">
                    <div id="ctl00_cphMain_TitleDiv">
                      <div class="pdivnewsheader">
                        <h5><a href="http://www.gdwse.com/qywh.aspx">企业文化</a></h5>
                        
                        <!-- 位置 -->
                        <div class="hidden_m">
                          <img alt="" src="__FRONT__/images/wse_diz.png" />
                          <a href="/">你当前的位置：首 页 &gt; &gt;</a>
                          <a href="/about">关于威速易&gt; &gt;</a>
                          <a class="hover_1" href="/culture">企业文化</a>
                        </div>

                        <p><img class="qywhimg" src="__FRONT__/images/2017111511171001013607.jpg" style="border:0"><br>
                          <span style="font-size:14px"><span style="color:#ff9900">使&nbsp; &nbsp; &nbsp;
                              &nbsp;命：</span><span style="color:#008000">让跨境更容易</span><br>
                            <br>
                            <span style="color:#FF8C00">价&nbsp; 值&nbsp; 观：</span><span
                              style="color:#008000">成就客户，成就伙伴，成就自己</span><br>
                            <br>
                            <span style="color:#FF8C00">愿&nbsp; &nbsp; &nbsp; &nbsp;景：</span><span
                              style="color:#008000">打造一站式跨境供应链服务平台</span><br>
                            <br>
                            <span style="color:#FF8C00">企业口号：</span><span
                              style="color:#008000">树立威信，追求速度，通易全球</span><br>
                            <br>
                            <span style="color:#FF8C00">经营理念：</span><span
                              style="color:#008000">以人为本，才德兼备，知行合一</span><br>
                            <br>
                            <span style="color:#FF8C00">经营方针：</span><span
                              style="color:#008000">坚持学习创新，提高管理水平，积极开阔市场，提高技术含量</span></span>
                        </p>
                        <br>
                        <br>
                        &nbsp;
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--中间内容 结束-->
{/block}