{extend name="public/base" /}
{block name="title"}人才招聘{/block}
{block name="load"}
<!-- css -->
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}

<!-- 中间内容开始 -->

<div class="">
  <div class="row">
    <!--内容-->
    <div id="ctl00_cphMain_ContentDiv" class="">
      <div class="product_3">
        <div style="text-align: left; line-height: 2;">
          <div class="pageContent">
            <div>

              <div class="div_dcon">
                <div class="content">

                  <!-- 左边的导航 -->
                  {include file="public/company_left" /}
                  <script>
                    $('.divrightLit ul').children().eq(2).find('a').addClass('hover_1');
                  </script>

                  <div class="div_dtean" id="gszp">
                    <div id="ctl00_cphMain_TitleDiv">
                      <div class="pdivnewsheader">
                        <h5><a href="/job">公司招聘</a></h5>

                        <div class="hidden_m">
                          <img src="__FRONT__/images/wse_diz.png" />
                          <a href="/">你当前的位置：首 页 &gt; &gt;</a>
                          <a href="/about">关于威速易&gt; &gt;</a>
                          <a class="hover_1" href="/job">公司招聘</a>
                        </div>

                      </div>
                      <span style="font-size:16px"><strong>公司福利</strong></span><br>
                      我们提供有竞争力的薪资待遇及福利。<br>
                      1、 入职满一年之后享有带薪年假。<br>
                      2、 培训发展：公司以内部培养人才为主，为员工提供业务相关培训$<br>
                      3、 丰富多彩的员工活动，每个季度公司组织外出活动一次。<br>
                      4、 透明的g升环境，公平与积极进取的公司文化氛围0<br>
                      5、 公司为每位入职员工购买五险。<br>
                      6、 能力突出者还给予额外奖励哦。<br>
                      加入威速易，找到未来的自己。和靠谱的小伙伴一起奋斗成长，周你的智慧与创造力 帮助跨境电商卖家、品牌商货通全球，物流无优！还在等什么，加入我们！<br>
                      <br>
                      <span style="font-size:16px"><strong>1 •培训助理</strong></span><br>
                      岗位职责：<br>
                      1、 负责国际电子商务平台营销、推广、客户关系管理等系统经营性工作；<br>
                      2、 负责网店日常改版策划、上架、推广、销售、售后服务等经营与管理工作；<br>
                      3、 不定期策划商城营销培训活动；<br>
                      4、 讲授部分培训课程解答疑难问题等，以及培训效果评估，负责部分培训和培训准备以及督导工作；<br>
                      搜集培训倍息，协助制作培训资料：<br>
                      5、 交易平台推广工作，优化店铺及商品排名；<br>
                      6、 电子商务平台关键宇策略优化、推荐、搜索引擎营销、直通车等推广工作；<br>
                      任职要求：<br>
                      1、 有阿里巴巴速卖通、EBAY,亚马逊平台，或淘宝等电商平台操作经验者优先；<br>
                      2、 熟悉行业现状与发展趋势、电子商务平台运营环境、相关规则、推广、站内广告资源；<br>
                      3、 拓展其他网络社交平台推广渠道引流等，实现更多范围营销；<br>
                      4、 富有激清，勤奋敬业，吃苦耐劳，有较强创造力和感染力' 良好的文宇和语言表达能力、沟通能力，思维敏捷，追求工作目标和结果；<br>
                      5、 有以上工作经验者优先；<br>
                      <br>
                      <strong><span style="font-size:16px">2•销售助理</span></strong><br>
                      岗位职责：<br>
                      1. 负责渠道报价整理，渠道维护，系统数据更新；<br>
                      2. 根据业务要求，进行词价，了解最新的市场价格行程；<br>
                      3. 推广公司航线服务，开发新客户，挖掘客户的最大潜力，维护客户资源和关系；<br>
                      4. 收集筛选和整理相关物流市场倍息，熟识并了解市场行情动态和变化，实现利润最大化；<br>
                      任职要求：<br>
                      1、 口齿清晰，普通话测，语音富有感染力；<br>
                      2、 对物流市场行业工作有较高的热情；<br>
                      3、 具备较强的学习能力和优秀的沟通能力；<br>
                      4、 性格坚纪h思维敏捷，具备良好的应变能力和承压能力；<br>
                      5、 有敏锐的市场洞蔡力，有强烈的事业心、责任心和积极的工作态度；<br>
                      6•有相关跨境电商物流市场行M验者优先！（有物流相关专业，应届¥业生亦可）<br>
                      <br>
                      <span style="font-size:16px"><strong>3.操作员</strong></span><br>
                      岗位职责：<br>
                      1、 按规定做好打单及货物称重电脑扫描入库、出库，分拣配货等；<br>
                      2、 耐心、细心，工作效率高<br>
                      3、 按照产品明细操作电脑入庳出庳<br>
                      4、 工作态度好，责任心强，认真芫成公司规定要求及日常工作要求 岗位要求：<br>
                      1、 年龄18-30岁，欢迎应届¥业生；<br>
                      2、 懂得计算机的基本操作；<br>
                      3、 责任心强，诚倍、细致，有较强的团队合作意识；<br>
                      4、 有物流行业或仓库打包工作经验者优先，能适应早晚班制度轮流.<br>
                      <br>
                      <span style="font-size:16px"><strong>联系电话：</strong></span><br>
                      <span style="font-size:18px">020-8625-4345</span><br>
                      <br>
                      <br>
                      &nbsp;
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--中间内容 结束-->
{/block}