{extend name="public/base" /}
{block name="title"}物流详情{/block}
{block name="load"}
<!-- css -->
<style>
  .div_dtean h4 {
    font-size: 24px;
  }
</style>
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}

<!-- 中间内容开始 -->

<div class="">
  <div class="row">
    <!--内容-->
    <div id="ctl00_cphMain_ContentDiv" class="">
      <div class="product_3">
        <div style="text-align: left; line-height: 2">
          <div class="pageContent">
            <div>

              <div class="div_dcon">
                <div class="content">
                  <div class="dievright">

                    <!--分类-->
                    <div class="col-md-12 box-margin-top" id="ctl00_cphMain_CategoryDiv">
                      <div class="divtitle2">
                        <div class="divtitle2_h6">关于威速易</div>
                        <div class="divabouen">About Us</div>
                      </div>
                      <div class="divrightLit">
                        <ul>
                          <li><a class="hover_1" href="/logistics/1">国际快递</a></li>
                          <li><a href="/logistics/2">专线渠道</a></li>
                          <li><a href="/logistics/3">俄罗斯渠道</a></li>
                          <li><a href="/logistics/4">邮政渠道</a></li>
                          <li><a href="/logistics/5">FBA</a></li>
                        </ul>
                      </div>
                    </div>


                    <!--联系我们-->

                    <div class="col-md-12 box-margin-top" id="ctl00_cphMain_Contact_Contact">
                      &nbsp;
                    </div>
                  </div>

                  <div class="div_dtean" id="kddhl" style="color:#555;">
                    <div id="ctl00_cphMain_TitleDiv">
                      <div class="pdivnewsheader">
                        <h5>
                          <a href="/logistics">国际快递</a>
                        </h5>

                        <!-- 位置 -->
                        <div class="hidden_m">
                          <img alt="" src="__FRONT__/images/wse_diz.png" />
                          <a href="/">你当前的位置：首 页 &gt; &gt;</a>
                          <a href="/logistics/1">跨境物流&gt; &gt;</a>
                          <a class="hover_1" href="/logistics/1">国际快递</a>
                        </div>

                      </div>
                    </div>
                    <!--内容-->

                    <div id="ctl00_cphMain_ContentDiv">
                      <div class="product_3">
                        <div style="text-align: left; line-height: 2">
                          <div class="pageContent">

                            概述&nbsp; &nbsp; &nbsp;
                            国际快递是指在两个或两个以上国家(或地区)之间所进行的快递、物流业务。国家与国家(或地区)传递信函、商业文件及物品的递送业务,即是通过国家之间的边境口岸和海关对快件进行检验放行的运送方式。国际快件到达目的国家之后,需要在目的国进行再次转运,才能将快件送达最终目的地。<br />
                            <br />
                            服务条款<br />
                            1.
                            寄件人在交寄快件时应使用英文或法文逐项详细、准确、如实地填写；填写时须使用打字机或圆珠笔，以使运单各联字迹清晰可辨；<br />
                            2.
                            收、寄件人名地址应详细准确，且应尽可能提供电话号码，以便在快件出现问题时能及时联系；收件人地址仅为邮政信箱号码的快件一律不予收寄；本公司对快件地址错误或不说所造成的投递延误不承担责任；<br />
                            3.
                            快件内不得夹寄现金，危险品等国家法律及相关规定所列的禁寄物品以及承运人禁止作为快件交运的物品
                            ；对寄件人违反禁、限寄所规定所造成的一切损失本公司不承担任何责任；<br />
                            4.
                            根据国际航空运输协会的相关规定，当快件的体积重量大于实际重量时，快件的运费标准将按照其体积重量予以收取。具体计算公式为：长X宽X高/6000=体积重量<br />
                            5.
                            为保证快件顺利通关，请在相应栏目内用英文详细、如实向海关申报快件内件（包括文件资料）的品名、件数、重量、申报价值及原产国等项目，同时任何物品类快件都应随附以英文填写的商业发票一式三份，否则将可能导致通关延误；<br />
                            6.
                            对地址有误、不详或夹寄禁寄物品的快件，在退回时由寄件人承担退件运输费用；如寄件人不需退回，则
                            相关快件将就地销毁；<br />
                            7. 补偿标准<br />
                            (1)
                            对证实为延误的快件，补偿金额为该票快件运费的50%；<br />
                            (2)对丢失、完全损毁的商务资料类快件，每件的补偿金额为人民币830元（根据国际运输条款标准赔偿。无
                            论其对发件人的商业效用或特殊价值如何），并退回已收取的该票快件的运费；<br />
                            (3)对丢失、完全损毁的物品类快件，除退回已收取的运费外，按每票人民币830元（根据国际运输条款标准赔偿）予以补偿；<br />
                            (4)对于内件部分丢失或部分损毁的物品类快件，将按该票快件的申报价值予以补偿，但最高补偿额不超过人民币830元（根据国际运输条款标准赔偿）；<br />
                            <br />
                            组成<br />
                            目前中国国际快递是快递业务中最重要的组成部分，它是EMS、DHL、UPS、FedEx、TNT、ARAMEX等快递业“巨头”的主营业务，每年的业务量以30%的速度增长，在中国对外贸易工作中发挥了举足轻重的作用，为中国经济融入全球一体化作出了贡献，取得了令人瞩目的社会经济效益。<br />
                            现代航空快递，是传统航空货运的发展和延续，是从航空货运代理业派生出来的。因此，要了解和掌握国际快递业务，还应学习与国际货代有关的业务知识。但国际货代业务并非本书的论述范围，本章只对“进出口作业流程及海关政策规定”等相关知识点，做一引领性的概述。<br />
                            <br />
                            必要条件<br />
                            注意事项<br />
                            ⒈国际快递包裹重量分实际重量和体积重量两种，快递公司将以两种重量中大的一项为计费依据；<br />
                            ⒉体积重计算<br />
                            (1).四大国际快递DHL,UPS,TNT,FedEX包裹体积重量的计算方法：（长
                            x 宽 x 高)(cm)/5000，注意长宽高单位是厘米；<br />
                            (2).EMS邮政速递，对长、宽、高三边中任一单边达到60cm或以上的包裹进行计算体积重重量计算公式：体积重量(kg)=长*宽*高(cm)/8000；<br />
                            ⒊国际快递包裹的货物不足
                            0.5公斤的，按0.5公斤计费；<br />
                            ⒋21KG以下货物按照小货计费，按首重、续重计费，计费单位为0.5KG,21KG及21KG以上货物按大货计费；<br />
                            ⒌国际快递包裹单件货物的规格必须保证：1长 + 2高 +
                            2宽 &lt;
                            330CM（各快递公司要求的规格不尽相同）；<br />
                            ⒍国际快递包裹单件超过或等于68公斤/件的，必须用有脚卡板进行包装（部分国家拒收原本卡板包装），否则快递公司拒上收货物；<br />
                            ⒎倘若有以下情况的国际快递包裹，需预先订舱：货物单件维长超过330厘米；货物单件重量超过68公斤；货物单件不超过330厘米，重量不超过68公斤，但一票货超过300公斤。<br />
                            ⒏国际快递价格资费变化较大，需发快递邮包时，请先联系所托运的国际快递公司业务员确认价格。<br />
                            优势<br />
                            ◆中国到世界各地的进出口空运业务<br />
                            ◆报关、报检、保险<br />
                            ◆ 货物包装、仓储<br />
                            ◆ 门到门服务<br />
                            ◆ 货物跟踪业务<br />
                            <br />
                            禁限规定<br />
                            折叠国际函件<br />
                            ⑴信函以外的各类函件内不准寄递具有私人和现实通信性质的文件。<br />
                            ⑵印刷品和盲人读物内禁止寄递已盖销或未盖销的邮票。<br />
                            ⑶除保价邮件以外，各类函件内禁止寄递各国货币、旅行支票、不记名票据、白金、黄金、白银及其制成品、首饰、宝石及其他贵重物品。<br />
                            折叠禁寄物品<br />
                            ⑴爆炸性、易燃性、腐蚀性、毒性、强酸碱性和放射性的各种危险物品，如雷管、火药、爆竹、汽油、酒精、煤油、桐油、生漆、火柴、农药等。<br />
                            ⑵麻醉药品和精神药品，如鸦片、吗啡、可卡因（高根）等。<br />
                            ⑶国家法令禁止流通或寄递的物品，如军火、武器、本国或外国货币等。<br />
                            ⑷容易腐烂的物品，如鲜鱼、鲜肉等。<br />
                            ⑸妨碍公共卫生的物品，如尸骨（包括已焚化的骨灰）、未经硝制的兽皮、未经药制的兽骨等。<br />
                            ⑹反动报刊书籍、宣传品和淫秽或有伤风化的物品。<br />
                            ⑺各种活的动物（但蜜蜂、水蛭、蚕、医药卫生科学研究机构封装严密并出具证明交寄的寄生虫以及供作药物或作以杀灭害虫的虫类，不在此限）。<br />
                            另外：各类邮件禁寄、限寄的范围，除上述规定外，还应参阅"中华人民共和国海关对进出口邮
                            递物品监管办法和国家法令有关禁止和限制邮寄物品的规定，以及邮电部转发的各国（地区）邮
                            政禁止和限制。<br />
                            &nbsp;

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--中间内容 结束-->
{/block}