{extend name="public/base_layui" /}
{block name="title"}客服保存{/block}
{block name="load"}
<!-- css -->
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}
<div class="layui-fluid">
    <div class="layui-form" lay-filter="form">
        <form action="" method="post" name="example">
            <table class="layui-table" lay-size="lg" lay-skin="line">
                <thead>
                    <tr>
                        <th colspan="2">客服添加</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="150" align="right"><strong>客服名称：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="name" placeholder="客服名称">
                            </div>
                            <div class="layui-input-inline">
                                <span style="color: red;">*</span>  例如：广州业务
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>真实姓名：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="real_name" placeholder="真实姓名">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>QQ号码：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="qq" placeholder="QQ号码">
                            </div>
                            <div class="layui-input-inline">
                                <span style="color: red;">*</span>  QQ号码必需
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>微信号：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="wechat" placeholder="微信号">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>手机号码：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="phone" placeholder="手机号码">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>客服描述：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="description" placeholder="客服描述">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="150" align="right"><strong>排序：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text" name="sort" placeholder="排序">
                            </div>
                            <div class="layui-input-inline">
                                排序：数值越小位置越前，最大65535
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td align="right"><strong>状态：</strong></td>
                        <td>
                            <div class="layui-input-inline">
                                <input type="radio" name="status" value="1" title="正常" checked>
                                <input type="radio" name="status" value="0" title="禁止">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"></td>
                        <td>
                            <div class="layui-input-inline">
                                <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<script>
    layui.use(['form', 'layer'], function () {
        // 表单实例化
        var form = layui.form;
        // 保存
        layui_ajax_save(form, '/customer_service', '/view/customer_service_index');
    });
</script>
{/block}