{extend name="layout/base" /}
{block name="title"}会员注册{/block}
{block name="load"}
<!-- css -->
<link rel="stylesheet" href="__FRONT__/css/register.css">
<link rel="stylesheet" href="__FRONT__/css/style.css">
<link href="__FRONT__/css/chosen.css" rel="stylesheet">
<style type="text/css">
  .clearfix:after {
    content: "\20";
    display: block;
    height: 0;
    clear: both;
  }

  .imgItem img {
    width: 200px;
    height: 160px;
  }

  .imgItem label {
    width: 100%;
  }

</style>
<!-- js -->
<script src="__FRONT__/js/nav.js"></script>
<script src="__FRONT__/js/chosen.jquery.min.js"></script>
<script src="__FRONT__/js/common.js" charset="utf-8"></script>
{/block}
<!-- 主体内容 -->
{block name="main"}

<!-- 中间内容开始 -->

<div class="l_c_bar">
  <div class="l_c_center">
    <div class="l_t">
      <strong>会员注册</strong>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="l_c_center">
  <div class="l_content">
    <!-- banner 开始 -->
    <div id="full-screen-slider">
      <ul id="slides">
        <li><img alt="" src="__FRONT__/images/lg_bj.png" width="520px" height="400px"></li>
      </ul>
    </div>
    <!-- banner 开始 -->

    <!-- 注册内容 开始 -->
    <form action="" method="post" name="example">
      <div class="form_main_box" id="login-register">
        <div class="form_main">
          <div class="f_l_title">帐户信息</div>
          <ul class="f_l_cont">
            <li>
              <span class="label"><span class="red">*</span>用户名：</span>
              <div class="inputBox">
                <input type="text" id="username" name="username" class="text input-value" tabindex="1"
                  placeholder="英文或数字, 禁止中文" title="用户名">
              </div>
            </li>
            <li>
              <span class="label"><span class="red">*</span>设置密码：</span>
              <div class="inputBox">
                <input title="密码" type="password" id="password" name="password" class="text input-value" tabindex="2" placeholder="6~20位" maxlength="50" minlength="6">
              </div>
            </li>
            <li>
              <span class="label"><span class="red">*</span>公司名：</span>
              <div class="inputBox">
                <input title="公司名" type="text" id="company_name" name="company_name" class="text input-value" tabindex="3"
                  placeholder="个人填姓名即可">
              </div>
            </li>
            <li style="margin-bottom: 5px;">
              <span class="label"><span class="red">*</span>联系方式：</span>
              <div class="inputBox">
                <input title="联系方式" type="text" id="contact" name="contact" class="text input-value" tabindex="4"
                  placeholder="务必填写联系方式,以便我司和您联系">
              </div>
              <div style="width: 330px;height: 22px; padding-left: 80px;padding-top: 5px;padding-right: 5px;">
                <input title="联系方式类型" type="radio" name="contact_type" class="input-value"
                  style="width: 15px;height: 15px;vertical-align:middle;" id="qq" value="qq" checked="checked">
                <label for="qq"><span style="margin-right:10px;margin-left:2px;">QQ</span></label>
                <input title="联系方式类型" type="radio" name="contact_type" class="input-value"
                  style="width: 15px;height: 15px;vertical-align:middle;" id="taobao" value="taobao">
                <label for="taobao"><span style="margin-right:10px;margin-left:2px;">淘宝</span></label>
                <input title="联系方式类型" type="radio" name="contact_type" class="input-value"
                  style="width: 15px;height: 15px;vertical-align:middle;" id="facebook" value="facebook">
                <label for="facebook"><span style="margin-right:10px;margin-left:2px;">FaceBook</span></label>
                <input title="联系方式类型" type="radio" name="contact_type" class="input-value"
                  style="width: 15px;height: 15px;vertical-align:middle;" id="line" value="line">
                <label for="line"><span style="margin-left:2px;">LINE</span></label>
                <input title="联系方式类型" type="radio" name="contact_type" class="input-value"
                  style="width: 15px;height: 15px;vertical-align:middle;" id="wechat" value="wechat">
                <label for="wechat"><span style="margin-left:2px;">微信</span></label>
              </div>
            </li>
            <li>
              <span class="label">邮箱：</span>
              <div class="inputBox">
                <input title="邮箱" type="text" id="email" name="email" class="text input-value" tabindex="4"
                  placeholder="请填写正确的邮箱地址">
              </div>
            </li>
            <li>
              <span class="label"><span class="red">*</span>联系电话：</span>
              <div class="inputBox">
                <input title="联系电话" type="text" id="telephone" name="telephone" class="text input-value" tabindex="5" placeholder="手机号或固话均可">
              </div>
            </li>
            <li class="line">
              <span class="label">邀请码：</span>
              <input title="邀请码" type="text" id="invitation_code" name="invitation_code" class="text input-value" value=""
                placeholder="选填，邀请人信息" maxlength="12" tabindex="6">
            </li>

            <li class="line">
              <span class="label"><span class="red">*</span>验证码：</span>
              <input title="验证码" type="text" id="captcha" name="captcha" class="text input-value text-1  min-input" maxlength="4" tabindex="4">
              <img id="JD_Verification1" src="http://api.wse.com/captcha/create_verify" onclick="this.src += '?1'" alt="看不清？点击更换" title="看不清？点击更换">

            </li>

            <li class="line">
              <a id="toUploadFile">上传证件</a>
            </li>

            <!-- 文件div -->
            <div class="ui-dialog-cntainer hide" id="uploadDiv">
              <div class="ui-dialog-cover"></div>
              <div class="ui-dialog ui-dialog-lg" style="height: 350px;width: 900px;left: 42%;">
                <div class="ui-dialog-header">
                  <div class="ui-dialog-close">X</div>
                  <h3>证件上传</h3>
                </div>


                <div class="ui-dialog-body" style="height: 98%;">
                  <div class="panel panel-nobottom clearfix" style="padding-bottom: 10px;">
                    <div class="panel-body clearfix">

                      <div class="imgItem">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="license">上传营业执照</button>
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="upload-preview">
                                <input title="营业执照" type="hidden" name="license" class="input-value">
                            </div>
                        </div>
                      </div>
                      <div class="imgItem">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="idcard_front">上传身份证正面照(国徽面)</button>
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="upload-preview">
                                <input title="身份证正面照" type="hidden" name="idcard_front" class="input-value">
                            </div>
                        </div>
                      </div>
                      <div class="imgItem">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="idcard_back">上传身份证反面照(人物面)</button>
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="upload-preview">
                                <input title="身份证反面照" type="hidden" name="idcard_back" class="input-value">
                            </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button type="button" style="margin-left: 646px;margin-top: 25px;" class="btn btn-primary btn-w-xs" id="close">确认</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <li class="error">
              <div class="clear"></div>
              <span class="red"></span>
            </li>
            <li>
              <span class="label">&nbsp;</span>
              <button type="submit" class="l_btn">注 册</button>
            </li>
          </ul>

          <div class="l_f_reg">
            已有帐号？<a href="/login">立即登录</a>
          </div>
        </div>
      </div>
    </form>
    <!-- 注册内容 结束 -->
  </div>
</div>
<script type="text/javascript" charset="utf-8">

  // 是否已登录过
  if (!empty(getApiToken())) {
    layer.msg('已登录，无需重复登录', { time: 700 }, function () {
      $(window).attr('location', '/');
    });
  }

  // 上传图片
  upload_image('license');
  upload_image('idcard_front');
  upload_image('idcard_back');

  // 显示上传文件
  $('#toUploadFile').click(function () {
    $('#uploadDiv').removeClass('hide');
  });
  // 隐藏上传文件
  $('.ui-dialog-close, #close').click(function () {
    $('#uploadDiv').addClass('hide');
  });


  $("form").submit(function (e) {
    let data = get_input_value();
    console.log(data);
    $.ajax({
      type: "POST",
      contentType: "application/x-www-form-urlencoded",
      url: 'http://api.wse.com/user/register',
      data: data,
      success: function (res) {
        console.log(res);
        if (res.code !== config('success')) {
          layer.msg(res.msg, {icon: 2});
          $('#JD_Verification1').trigger('click');
          return false;
        }
        $.cookie('admin_login_token', res.data.token, { expires: 100 * 365, path: '/' });
        $(window).attr('location', '/');
      }
    });
    return false;
  });



</script>
<!--中间内容 结束-->
{/block}